<div class="container-fluid background">
<div class="row">
    <div class="offset-sm-4 col-sm-4">
      <div class="card">
        <div class="card-body">
          <div class="card-title text-center">
            <h1>Log In</h1>
          </div>
          <div class="card-text">
            <form [formGroup] = "myForm" (ngSubmit)="onSubmit(myForm)">
              <div class="form-group">
                <input type="email" class="form-control" name ="email" placeholder = "Email ID" [formControl] = "myForm.controls['email']"> 
              </div>
              <div class="alert alert-danger" *ngIf = "myForm.controls['email'].touched && myForm.controls['email'].invalid">
                Email id is required.
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name ="password" placeholder = "Password" [formControl] = "myForm.controls['password']"> 
              </div>
              <div class="alert alert-danger" *ngIf = "myForm.controls['password'].touched && myForm.controls['password'].invalid">
                Password is required.
              </div>
              <div class="text-center" >
                <button type = "submit" class="btn btn-warning btn-block" [disabled] = "myForm.invalid">Log In</button>
              </div>
            </form>
            <div class="text-center mt-3">
              <button class="btn btn-link" routerLink = '\home'>New to Scribe? Signup Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-success" *ngIf= "message.length>0">Logged In Successfully</div>
      <div class="alert alert-danger" *ngIf = "userError!=undefined">{{userError.message}}</div>
    </div>
</div>
</div>
